.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers items vertically */
    padding: 20px;
 
    z-index: 1000; /* Ensures the header stays on top of other elements */
}

.logo {
    font-size: 1.5rem; /* Adjust font size for better visibility */
    color: #ff6600;
    max-height: 50%;
}

.nav {
    padding-right:5% ;
    display: flex;
    gap: 20px;
    align-items: center; /* Ensures the nav items are vertically centered */
}

.nav-item {
    color: #333;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem; /* Ensure font is sized appropriately */
    align-self: center; /* Vertically aligns the nav item */
}

.nav-login-button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Add padding for better click area */
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    align-self: center; /* Vertically aligns the login button */
    transition: all 0.3s ease; /* Add transition for hover effect */
}


.nav-login-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.nav-login-button:hover:not(:disabled) {
    background-color: #da7e15;
}